
body{
  font-family: 'Montserrat';
}
h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
h2{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
}



.nav-brand{
  font-size: 2.5rem;
}
.container-fluid{
  padding: 3% 15% 7%;
}

#title{
  background-color: #ff4c68;
  color: #fff;
}

/* Navigation Bar */

.navbar{
  padding: 0 0 2.5rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 200;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat';
}


/* Download Buttons */

.download-btn{
  margin: 5% 3% 5% 0;
}

.showcase-img{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right : 25%;
}

/* Features */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box{
  text-align: center;
  padding: 4.5%;
}


.feature-text{
  color: #8f8f8f;
}

.icon{
  color: #ef8172;
  margin: 1rem;
}

.icon:hover{
  color:#ff4c68;
}


/*  My Solution.


#features{
  margin: 7% 15%;
}

.fa-solid{
  color: #ef8172;
}

.fa-solid:hover{
  color: #ff4c68;
}

h3{
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 1.5rem;
  padding: 5% 0 0;
}

.text-center{

}

.feature-text{
  color: #8f8f8f;
}

*/


/* testimonial section */

#testimonials{
  text-align:center;
  background-color: #ef8172;
  color: #fff;
}



.testimonial-img{
  width: 10%;
  border-radius: 100%;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing Section */

#pricing{
  padding: 7%;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1035px){

  #title{
      text-align: center;
  }


  .showcase-img{
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

/* Call Action */

#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
}

.fontSize{
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 3rem;
}

#footer{
  padding: 7% 15% 0;
  background-color: #fff;
  text-align: center;
}

.footer-padding{
  padding: 0 10px 40px;
    color: #8f8f8f;
}

.footer-padding:hover{
  color: #000;
}

.smallSize{
  font-size: 0.9rem;
  color: #8f8f8f;
}
